.hashContainer {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: #536471;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-left: 0;
    padding: 20px 20px 20px 20px;
}
.hashContainer:hover {
    background-color: #EFF1F1;
    cursor: pointer;
}

.hash__location {
    font-size: 13px;
    opacity: 0.8;
    font-weight: 100;


}

.hash__name {
    opacity: 1 !important;
    font-size: 15px;
    color: #0F1419;
    cursor: pointer;
    font-weight: 1000;
}

.hash__tweets {
    font-weight: 200;
    opacity: 0.8;
    font-size: 13px;
}
