.trends {
  flex: 0.3;
  margin-left: 15px;
}

.trends__input {
  display: flex;
  align-items: center;
  border-radius: 288px;
  background-color: var(--twitter-background);
  padding: 10px 20px;
  margin-top: 0px;
  margin-left: 20px;
  border: 1px transparent solid;


}
.search-bar {
  padding: 5px 0;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 100;
}
.trends__input__input {
  font-size: 15px;
  border: none;
  background-color: var(--twitter-background);
  outline: none;
  padding: 0 10px;
}

.trends__input:focus-within {
  border: 1px var(--twitter-color) solid;
}

.trends__input:focus-within, .trends__input__input:focus-within {
  background-color: white;
}

.trends__input:focus-within .trends__searchIcon {
  fill: var(--twitter-color);
}

.trends__searchIcon {
  color: rgb(37, 36, 36);
}
.hashContainer1 {
  margin-left: 0px !important;
  margin-bottom: 10px;
  padding-bottom: 18px;
}
.trendsContainer {
  margin-top: 15px;
  margin-left: 16px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.trendsContainer > h2 {
  padding: 20px 20px 0 20px;
  font-size: 18px;
  font-weight: 800;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0 0 20px;
}
.footer > a {
  text-align:start;
  padding-right: 15px;
  width: fit-content;
  font-size: 13px;
  text-decoration: none;
  color: #7A8791 ;

}
.footer > span {
  color: #7A8791 ;
  font-size: 13px;
  width: 100%;
}
.footer > a:hover {
  text-decoration: underline;
}