.main {
    flex: 0.5;
    border-right: 1px solid var(--twitter-background);
    background-color: white;
    height: fit-content;
}
  
.main__header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    padding: 15px 0px 0 2px;

}
  
.main__header > h2 {
    padding: 0px 15px;
    font-size: 20px;
    font-weight: 600;
}

.following {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--twitter-background);

}
#f1, #f2{
    padding: 10px;
    width: 50%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
#f1:hover, #f2:hover {
    background-color: #E6E7E7;
    cursor: pointer;
}